html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fffef0;
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}

.main {
    max-width: 90%;
    padding: 1em;
    margin: 2.5em auto 0 auto;
}


.main a, #more a{
  text-decoration: none;
  font-family: Chivo;
  font-style: italic;
}

.main a:hover, #more a:hover{
  color: #fffef0;
  background-color: #2c46ff;
}

.case-study-main, #more {
    max-width: 70%;
    padding: 1em;
    margin: 1em auto 0 auto;
}

.navbar {
    font-family: chivo;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    background-color: transparent;
    padding: 15px 0px;
    position: fixed;
    text-align: right;
    margin: 0 auto;
    top: 0;
    -webkit-backdrop-filter: blur(32px);
    -moz-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    width: 100%;
    z-index: 120;
}

.navDiv {
    max-width: 90%;
    margin: auto;
}

.navbar a {
    color: #545454;
    margin: 20px 0px 20px 20px;
    text-decoration: none;
}

.navbar a:hover, .current {
  text-decoration: underline;
}

#intro {
  font-weight: 100;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.smiley {
  max-width: 150px;
}

 #myIntro {
  max-width: 64%; 
  font-weight: 100;
  margin: auto 0px;
}

.caseInfo {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.caseInfo p {
  text-align: justify;
}

.caseInfo h2 {
  font-weight: 400;
}

.caseTags {
  display: flex;
  margin-bottom: 15px;
}

.caseTags p {
  padding: 10px;
}

.sectionCol {
  width: 25%;
  margin-right: 10%;
  margin-top: 0px;
}

.section {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.copyCol {
  max-width: 64%;
}

.copyCol p {
  margin-top: 24px;
}

.copyCol img {
  max-width: 100%;
  margin: 20px 0px;
}

.tagCol {
  display: flex;
}

.tag {
  border: 0px solid;
  margin: 0 15px 0 0;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 5px 7px 10px rgb(150, 150, 150, .07);
  background-color: #fff;
  width: fit-content;
  width: -moz-filter-fit-content;
  width: -webkit-filter-fit-content;
  max-height: 20px;
}

.userPersona {
  box-shadow: 5px 5px 5px rgb(220, 220, 220, .07);
}

.protoRow {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.protoRow p {
  text-align: left;
}

.textCol {
  max-width: 50%;
  margin: auto;
}

.protoCol {
  max-width: 45%;
  margin: 0px;
}

.protoCol img {
  border-radius: 40px;
}
.caseStudies {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.caseStudy {
  max-width: 28%;
  padding: 0 8% 0 0;
}

.caseStudy img {
  border-radius: 20px;
}

.caseStudy img {
  margin-top: 20px;
  vertical-align: middle;
}

.caseStudy img:hover {
  box-shadow: 5px 5px 50px rgb(200, 200, 200, .1);
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #545454;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

h1 {
  font-weight: 700;
}

i {
  color: #545454;
}

a {
    color: #2c46ff;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /*display: block;*/
    max-width: 100%;
}

/*@keyframes colorize {
    0% {
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}*/

.navbar .icon {
  display: none;
}

.smileyMobile {
  display: none;
}

.respondents {
  display:flex;
}

.respondents p {
  text-align: center;
  width: 33%;
  margin: 0 1%;
  border: 1px solid;
  border-radius: 10px;
  vertical-align: text-bottom;
}

.row {
  max-width: 100%;
  display: block;
}

.aboutCol {
  max-width: 700px;
  margin: 0px auto;
}

.imgCol {
  float: left;
  margin: 0 40px 20px 0;
  max-width: 30%;
}

.aboutCol h2 {
  margin-top: 0;
}

.currentCol {
  margin: 20px auto 0px auto;
}

.currentImage {
  height: 250px;
  max-width: 100%;
  overflow: hidden;
}

.currently {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#myFooter {
  position: relative;
  display:grid;
  max-width: 90%;
  padding: 1em;
  margin: 1.5em auto 0 auto;
}

#more h3 {
  font-weight: 300;
  margin-top: 0;
}

.miscRow {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.miscCol {
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.miscCol img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#wink {
  max-width: 28%;
  padding: 0 8% 0 0;
  margin:auto;
}

@media screen and (max-width: 800px) {
    .miscCol {
    flex: 100%;
    max-width: 100%;
  }
    .case-study-main, #more{
    max-width: 90%;
    padding: 1em;
    margin: 1em auto 0 auto;
  }
    .caseInfo p {
    text-align: left;
  }
  .respondents p {
    text-align: center;
  }
  .protoCol img {
  border-radius: 35px;
  }
  .caseStudy {
    max-width: 100%;
    padding: 0px;
  }
  #myIntro {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .case-study-main, #more{
    max-width: 90%;
    padding: 1em;
    margin: 1em auto 0 auto;
  }
  .navbar {
    position: fixed;
    padding: 15px 0px 45px 0px;
  }
  .navbar a {
    display: none;
  }
  .navbar a:hover {
    background: none;
    color: #545454;
    text-decoration: underline;
  }
  .navbar a.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding-right: 5%;
    background: none;
  }
  #intro {
    float: none;
    max-width: 100%;
    margin-top: 30px;
  }
.aboutCol h1 {
    font-size: 30px;
  }
  .caseStudy {
    max-width: 100%;
    padding: 0px;
  }
  .smiley {
    display: block;
    max-width: 150px;
  }
  #myIntro {
    max-width: 100%;
    font-size: 24px;
    margin: 20px 0px;
  }
  .caseInfo {
    display: block;
  }
  .caseInfo p {
    text-align: left;
  }
  .sectionCol {
    width: 100%;
    margin-right: 0;
  }
  .copyCol{
    max-width: 100%;
    margin-bottom: 40px;
  }
  .caseTags {
    display: block;
    margin-bottom: 40px;
  }
  .tag {
      margin: 0 5px 0 0;
  }
  .respondents p {
    text-align: center;
  }
  .aboutCol {
    max-width: 100%;
  }
  .imgCol {
    float: none;
    max-height: 400px;
    display: block;
    max-width: 100%;
    margin: 0px auto 20px;
  }
  .protoCol img {
    border-radius: 30px;
  }

  .miscCol {
    flex: 100%;
    max-width: 100%;
  }

}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: fixed;
    background-color: transparent;
  }
  .navbar.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px 0px;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    margin: 40px 0 0 0;
  }
}


