html {
    background: #fffef8;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fffef8;
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}

.main {
    background: white;
    max-width: 800px;
    padding: 2em;
    margin: 3em auto;
}

.navbar {
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    background-color: transparent;
    padding: 15px 0px;
    position: fixed;
    text-align: right;
    margin: 0 auto;
    top: 0;
    -webkit-backdrop-filter: blur(32px);
    -moz-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    width: 100%;
    z-index: 120;
}

.navbar div {
    max-width: 860px;
    margin: auto;
}

.navbar a {
    color: #545454;
    padding: 15px 15px 15px 0px;
    text-decoration: none;
}

.navbar a:hover {
    color:#121212;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}